<a href="http://www.bbc.co.uk">
<div class="left-hand-nav-items active">
<p class"open">LINK TITLE</p> <img src="../../images/arrow-blue.png" class="pull-right">
</a>
  
   <ul>
     <li><a href="http://www.guardian.co.uk">SUB LINK</a></li>
     <li><a href="#">SUB LINK</a></li>
     <li><a href="#">SUB LINK</a></li>
     <li><a href="#">SUB LINK</a></li>
     <li><a href="#">SUB LINK</a></li>
   </ul>
   
</div>

