<div class="left-hand-nav-items active">
<p class"open">LINK TITLE</p> <img src="../../images/arrow-blue.png" class="pull-right">

  
   <ul>
     <li>SUB LINK</li>
     <li>SUB LINK</li>
     <li>SUB LINK</li>
     <li>SUB LINK</li>
     <li>SUB LINK</li>
   </ul>
   
</div>

