
 <div class="container-fluid">
      <div class="fixed-side-column">
         {{>blocks-left-hand-nav-open}}
      </div>
      <div class="main-content">
        <div class="middle-blocks">
          {{> blocks-video-block}}
          {{> blocks-brand-block}}
        </div>
        <div class="side-blocks">
          {{> blocks-scripts-block}}
          {{> blocks-assets-block}}
          {{> blocks-schedule-block}}
        </div>
      </div>
  </div>



