<div class="container-fluid">
  <div class="row">
    <div class="fixed-side-column">
       {{>blocks-left-hand-nav}}
    </div>
    <div class="main-content">
    <div class="brand-column">
     {{>organisms-brand-title}}
      {{>atoms-button-download}}
    </div>
    </div>
  </div>
</div>
