<div class="container-fluid">
  <div class="row">
    <div class="fixed-side-column">
       {{>blocks-left-hand-nav}}
    </div>
    <div class="main-content">
    <div class=video-column>
     {{>organisms-programme-page-header}}
     {{>organisms-video-page-buttons}}
        <div class="assets-preview-block programme-block">
         
            <div class="row">
              <div class="col-sm-6">
                {{> boxes-programme-box}}
              </div>
               <div class="col-sm-6">
                {{> boxes-programme-box}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                {{> boxes-programme-box}}
              </div>
               <div class="col-sm-6">
                    {{> boxes-programme-box}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                  {{> boxes-programme-box}}
              </div>
               <div class="col-sm-6">
                  {{> boxes-programme-box}}
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                  {{> boxes-programme-box}}
              </div>
               <div class="col-sm-6">
                  {{> boxes-programme-box}}
              </div>
            </div>
            
           
      </div>
    </div>
  </div>
</div>
