<a href="#">
  <div class="content-block assets-block nav-block"> 
    {{> atoms-assets-icon}}
    <img src="../../images/assets-title.png" class="assets-title">
  {{> atoms-nav-icon-white}}
  </div>
</a>

   