<div class="content-block schedule-block nav-block"> 
  {{> atoms-schedule-icon}}
 <h1>SCHEDULE</h1>
   <div class="links">
     {{> atoms-schedule}}
    {{> atoms-schedule}}
     {{> atoms-schedule}}
    </div>
{{> atoms-nav-icon-blue}}
</div>

   