<div class="assets-holder" id="graphics">
<h4>GRAPHICS</h4>
  {{> boxes-assets-graphics-box}}
  {{> boxes-assets-graphics-box}}
  {{> boxes-assets-graphics-box}}
  {{> boxes-assets-graphics-box}}
   {{> boxes-assets-graphics-box}}
</div>