<a href="#">
  <div class="content-block brand-block"> 
    {{> atoms-lion-icon}}
    <div class="brand-title-holder">
    <img src="../../images/brand-title.png" class="brand-title">
    </div>
    {{> atoms-nav-icon-blue}}
  </div>
</a>

   