<div class="content-block schedule-block nav-block"> 
  {{> atoms-schedule-icon}}
  <img src="../../images/schedule-title.png" class="nav-title">
   <div class="links">
     {{> atoms-schedule}}
    {{> atoms-schedule}}
     {{> atoms-schedule}}
    </div>
{{> atoms-nav-icon-blue}}
</div>

   