<div class="asset-box logo-box"> 
    <h5>Chelsea logo - PSD</h5>
    <div class="image-holder">
    {{> atoms-checkbox }}
    <img src="../../images/logo.png"/>
    </div>
 {{> atoms-button-download}}
</div>