
  <div class="buttons-holder">
      <div class="video-page-buttons">
        <div class="inline-box inline-checkbox">
          <input type="checkbox" class="video-page-checkbox">
        </div>
        <div class="inline-box">
          <h6>SELECT ALL</h6>
        </div>
        <div class="inline-box">
          <a class="btn btn-primary btn-lg btn-online" type="submit"><img src="../../images/cloud-icon.png"> <span class="atext">DOWNLOAD SELECTED</span></a>
        </div>
      </div>
  </div>
