<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #00003b;"></span>
		<span class="sg-label">font: #00003b</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f1f1f1;"></span>
		<span class="sg-label">light grey #f1f1f1</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #b7b7b7;"></span>
		<span class="sg-label">dark grey #b7b7b7</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0000bb;"></span>
		<span class="sg-label">primary button #0000bb</span>
	</li>
    
    <li>
		<span class="sg-swatch" style="background: #edeef2;"></span>
		<span class="sg-label">block link light #edeef2</span>
	</li>
    
    <li>
		<span class="sg-swatch" style="background: #e3e5e8;"></span>
		<span class="sg-label">block link dark  #e3e5e8</span>
	</li>

</ul>
