<div class="content-block scripts-block nav-block"> 
 <div class="box-icon">
  <img src="../../images/script-icon.png">
</div>
  <img src="../../images/scripts.png" class="nav-title">
    <div class="links">
     {{> atoms-script}}
    {{> atoms-script}}
     {{> atoms-script}}
    </div>
{{> atoms-nav-icon-white}}
</div>

   