.form-group {
  label {
    margin-bottom: .1rem;
  }
  
  .form-control {
    display: inline-block;
    width: 100%;
    border-radius: 0px;
    margin-left: 35px;
    margin-top: 0px;
  }
  
  .fa {
    display: inline-block;
    position: absolute;
    top: 28px;
  }
  
}