<div class="left-hand-nav"> 
<div class="left-hand-nav-block">
  {{> atoms-sign-out-icon}}
  <div class="nav-header">
  <img src="../../images/logo-small.png" class="nav-logo">
  <img src="../../images/asset-library.png" class="img-responsive">
  </div>
    <div class="links">
     {{> atoms-left-nav-item}}
      {{> atoms-left-nav-item-open}}
      {{> atoms-left-nav-item}}
     {{> atoms-left-nav-item}}
     {{> atoms-left-nav-item}}
    </div>
    </div>
</div>


   