<div class="form-group"> 
  <label for="exampleInputEmail1"><b>EMAIL</b></label>
  <div class="textbox-holder">
  <img src="../../images/login.png">
    <input type="email" class="form-control" id="exampleInputEmail1">
  </div>
</div>
   