<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,900,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../../css/style.css" media="all" />
        <link rel="stylesheet" href="../../css/custom.css" media="all" />
         
    
<script src="https://use.fontawesome.com/3d62fb2610.js"></script>
		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{{ patternLabHead }}}
		<!-- End Pattern Lab -->
        
	
	</head>
	<body>	
		